.hero {
  min-height: 100vh;
  background: url("./hero.jpeg") center/cover no-repeat;
  display: grid;
  place-items: center;
}

  .banner {
  background: var(--clr-white);
  padding: 4rem 0;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  text-align: center;
  width: 90vw;
  max-width: var(--fixed-width);
}
